
body {
	font-family:arial;
	font-weight:600;
	margin:0 auto;
	color:#69636A;
	font-size: 95%;
}

.octocat img {
	width:422px;
	border:1px solid #cacaca;
	margin-right:26px;
	margin-right:26px;
}

.authors img {
	width:25px;
	border:none;
	float:right;
	margin-bottom:14px;
	margin-top: 9px;
	margin:3px;
	position:relative;

}

.octocat {
	float:left;
	border-bottom: 1px solid #cacaca;
	margin-right: 16px;
	width:422px;
}

.authors {
	float:right;
	position:relative;
}

img {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: px;
	-khtml-border-radius: 3px;
}

ul {
list-style:none;
vertical-align: middle;
}


.image-footer {
	margin-bottom:5px;
	position:relative;
}

.image-caption {
	float:right;
	width:422;
}

.image-number::before {
	content:"#";
}

.image-number{
	float: left;
	color:#cacaca;
}

a {
	color: black;
}

a:link {
  text-decoration: none;
}